.main1{
    width: 100%;
    background-color: white;
    margin-top: 220px;
    margin-left: 160px;

}
.main1 h1{
    font-size: 72px;
    width: 37%;
    font-weight: bold;
}
.main1 p{
    font-size: 18px;
    width: 33%;
    color: #6c757d ;
}
.playmarket{
    font-size: 30px;
    display: inline-block;
    display: flex;
}
.imgg{
    display: flex;
    gap: 7px
    ;
}
.iphone{
    width: 27rem;
    height: 60vh;
    margin-left: 480px;
    margin-top: -460px;
    opacity: 1;


}
 
.iphone img{
   width: 350px;
}
    .bos{
        width: 100%;
    height: 7vh;
    }
.main2{
    width: 100%;
  height: 40vh;
  background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.main2 h1{
 
    color: white;
    width: 58%;
  margin-left: 300px;
  padding-top: 100px;
}
.hh1{
   margin-top: 100px;
}
.imgglogo{
   margin-left: 650px;
   padding-top: 50px;
}
.iphone1{
    padding-top: 100px;
    margin-left: 100px;
    width: 500px;
 }
 .setr1{
     display: flex;
     margin-left: 650px;
     margin-top: -480px;
 }
 .setr1 i{
     font-size: 60px;
 }
    .setr2{
        display: flex;
        margin-left: 650px;
        margin-top: 30px;
        

    }
    .setr2 i{
       font-size: 60px;
       justify-content: center;
        justify-content: center;
    }
    .main4{
        width: 100%;
        height: 30vh;
        margin-top: 370px;
        display: flex;
    }
    .ttt{
        margin-left: 280px;
    }
    .ttt h1{
        font-size: 55px;
        width: 80%;
    }
    .ttt p{
        
        width: 60%;
        color: #6c757d ;
    }

    .aaa{
        width: 31rem;
        height: 22rem;
        border-radius: 50%;
        margin-right: 360px;
    }
    button{
        color: white;
    }

    .main5{
        width: 100%;
        height: 80vh;
        background-image: url(https://images.unsplash.com/photo-1620912189865-1e8a33da4c5e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzODQ4Njk4Mw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500);
   margin-top: 190px;
    }
    .main5 h1{
        padding-top: 300px;
        color: white;
        font-size: 50px;
        width: 25%;
        margin-left: 300px;
    }
    .main5 button{
      margin-left: 300px;
      background-color: transparent;
      color: white;
      border-radius: 15px;
        
    }
    .main5 button :hover{
        background-color: white;
        color: black;
    }
    .main6{
        width: 100%;
        height: 26vh;
        background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
    }
    .main6 h2{
        margin-left: 640px;
        padding-top: 20px;
        color: white;
    }
    .aaa1{
        display: flex;
        margin-top: px;
        margin-left: 550px;
        gap: 10px;
        padding-top: 35px;
    }
    .main7{
        width: 100%;
        height: 17vh;
        background-color: black;
        color: white;
    }
    .main7 h6{
        padding-top: 20px;
        margin-left: 610px;
    }
    .a12{
        display: flex;
       justify-content: center;
       gap: 12px
       ;
       color: rgba(255, 255, 255, 0.5);
       text-decoration: none;
    }
    .a12 a{
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;

    }
    .a12 a:hover{
 text-decoration: underline;      
 
    }